* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    height: 100vh;
}




/*****
HEADER
*****/

header {
    padding: 30px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header ul li:hover {
    cursor: pointer;
    border-bottom: 1px solid #0282f9;


}


/*****
MAIN
*****/

main {
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0 auto;
    padding: 50px 15%;
}


/*****
FOOTER
*****/

/*****
card
*****/

.blue-banner {
    display: flex;
    background-color: #0282f9;
    justify-content: space-between;
    color: #ffffff;
    gap: 20px;
    padding: 50px 15%;
}

.card {
    display: flex;
    background-color: #0282f9;
    color: #ffffff;
    gap: 10px;
    align-items: center;
}

.card img {
    width: 50px;
    color: #ffffff;
}

/*****
liste
*****/
.ft-left {
    display: flex;
    gap: 50px;
}

.mainFooter {
    display: flex;
    padding: 50px 15%;
    background-image: url("./assets/img/footer-bg.jpg");
    background-size: contain;
    justify-content: space-between;
    gap: 50px;
}


.footer-links-column {
    display: flex;
    flex-direction: column;

}

.footer-links-column ul {
    list-style: none;
}



.footer-links-column a {
    text-decoration: none;
    color: #ffffff;
}

/*****
social
*****/
.footer-social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15%;
    background-color: #303030;
}

.signup-button {
    background-color: #303030;
    /* Sostituisci con il colore del pulsante desiderato */
    color: white;
    padding: 10px 20px;
    border: 1px solid #0282f9;
    border-radius: 5px;
}

.social-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-container span {
    color: #0282f9;
}

.social-icons {
    display: flex;

}

.social-icon {
    margin-right: 10px;

}