* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
}




/*****
HEADER
*****/

header {
    margin: 50px;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}


/*****
MAIN
*****/

main {
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0 auto;
    padding: 100px 15%;
}


/*****
FOOTER
*****/

/*****
card
*****/

.blue-banner {
    display: flex;
    background-color: #0282f9;
    justify-content: space-between;
    color: #ffffff;
    gap: 20px;
    padding: 50px 15%;
}

.card {
    display: flex;
    background-color: #0282f9;
    color: #ffffff;
    gap: 10px;
    align-items: center;
}

.card img {
    width: 50px;
    color: #ffffff;
}

/*****
liste
*****/
.ft-left {
    display: flex;
    gap: 50px;
}

.mainFooter {
    display: flex;
    padding: 50px 15%;
    background-image: url("./assets/img/footer-bg.jpg");
    justify-content: space-between;
    gap: 50px;
}


.footer-links-column {
    display: flex;
    flex-direction: column;

}

.footer-links-column ul {
    list-style: none;
}



.footer-links-column a {
    text-decoration: none;
    color: #ffffff;
}